*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
nav{
    background: #2569e7;
    height: 70px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 70px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
   float: right; 
   margin-right: 20px;  
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 18px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
h1{
    font-size: 40px;
}
.color1{
    color: rgb(45, 45, 133);
}
.color2{
    color: rgb(240, 161, 15);
}
.color3{
    color: rgb(236, 22, 22);
}
.color4{
    color: dimgray;
}
.color5{
    color: dimgrey;
}
.color6{
    color: dimgrey;
}
.color7{
    color: whitesmoke;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 25px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
    padding-top: 3%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url(images/shapes/topbanner6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.colorm{
    color: dimgray;
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(lightgreen, darkgreen);
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 25px;

}
.flexible-container{
    display: flex;
    margin-bottom: 0%;
}
.mid-width{
    width: 60%;
    padding-left: 2%;
    padding-right: 5%;
    margin: 0;
}
.mid-width img{
    width: 100%;
}
.mid-banner{
    background-image: url(images/shapes/tpbanner6.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.colorm{
    text-align: center;
}
#racipie-title1{
    width: 30%;
    margin-left: 85;
    text-align: center;
}
.racipie-title{
    display: flex;
}
div.rpt1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.card{
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 5px grey,0 4px 16px 0 gray;

}
div.card img{
    width: 90%;
    padding-top: 11px;
    border-radius: 10px;

}
.rpt1{
    background-image: url(images/food/Project\ Cover1.jpg);
    background-size: 300px;
}
.followers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 3px 5px grey,0 4px 16px 0 gray;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 138px;
    margin-right: 139px;
}
.followers2{
    text-align: center;
}
footer p{
    text-align: center;
}
.footer1{
    text-align: center;
    color: rgb(78, 80, 76);
}
.footer2{
    color: rgb(236, 77, 29);
}
.background1{
    background-color: rgb(18, 15, 27);
}
.footer3{
    color: lightyellow;
}